.container {
  background-color: var(--background-color-1);
  border-radius: 1.6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}
.main {
  gap: 1rem;
}
button {
  background-color: var(--background-color-2);
  box-shadow: none;
  border-radius: 0.4rem;
}

.footer {
  border-top: 1px dashed rgb(151, 149, 149);

  margin: 1rem -1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 1rem 1rem 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  gap: 0.5rem;
  border: 1px solid var(--highlight);
  background-color: var(--background-color-1);
  color: var(--color);
}

.buttons .favoriteBtn {
  background-color: var(--highlight);
  color: var(--invert-color);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
