.app-container {
  background-color: var(--background-color);
  color: var(--color);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
}

.nav-bar img {
  background-color: black;
}

.bg-1 {
  background-color: var(--background-color-1) !important;
}

.right-actions {
  display: flex;
  gap: 1rem;
  font-size: small;
  font-weight: 100;
}

.live-market {
  color: var(--invert-color);
  background-color: var(--highlight);
  padding: 1rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bottom {
  display: flex;
}
.live-data {
  flex: 1;
  overflow: auto;
  background-color: var(--background-color-1);

  scrollbar-width: none;
}

.live-data-track {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  flex-wrap: nowrap;
  font-size: small;
  width: max-content;
  /* auto scroll styling from here */
  animation: auto-scroll 180s linear infinite;
}

/* 3. Define the keyframes to move exactly half the width */
@keyframes auto-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.live-data:hover .live-data-track {
  animation-play-state: paused;
}

/* auto scrolling ends here */

.main-container {
  max-width: calc(100% - 40rem);
  margin: 2rem auto;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
