:root {
  --background-color: #000;
  --background-color-1: #2f2e2e;
  --background-color-2: #535353;
  --background-color-3: #636363;

  color: #ffffff;

  --color: #fff;
  --color-1: #b1afaf;
  --invert-color: #000;
  --red-color: red;
  --green-color: green;

  --highlight: yellowgreen;
}

body {
  margin: 0;
  font-family: "MyCustomFont", sans-serif;
}

:root .light-mode {
  --background-color: #fff;
  --background-color-1: #dbdbdb;
  --background-color-2: #b2b2b2;
  --background-color-3: rgb(144, 142, 142);
  --color: #000;

  --color-1: #2e2e2e;
  --invert-color: #ffffff;

  --highlight: rgb(27, 68, 3);
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf");
}

.w-fit {
  min-width: fit-content;
}

.v-center {
  display: flex;
  align-items: center;
}

.sb {
  justify-content: space-between;
}

.customBtn {
  padding: 0.8rem 1rem;
  background-color: var(--background-color-3);
  box-shadow: none;
  box-sizing: content-box;
  border: 0.1px solid var(--color-1);
  color: var(--color);
  font-size: 14px;
  cursor: pointer;
}

.customBtn:active {
  background-color: var(--background-color-2);
  border: 0.4px solid var(--color-1);
}

.empty {
  text-align: center;
  margin: 3rem;
  font-size: 18px;
}
