:root {
  --background-color: #000;
  --background-color-1: #2f2e2e;
  --background-color-2: #535353;
  color: #ffffff;
  --invert-color: #000;
  --red-color: red;
  --green-color: green;
}

body {
  margin: 0;
  font-family: "MyCustomFont", sans-serif;
}

:root .light-mode {
  --background-color: #fff;
  --background-color-1: #dbdbdb;
  --background-color-2: #b2b2b2;
  color: #000;
  --invert-color: #ffffff;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/jetbrains-mono/jetbrains-mono-variable.ttf");
}

.w-fit {
  min-width: fit-content;
}

.v-center {
  display: flex;
  align-items: center;
}

.sb {
  justify-content: space-between;
}
